{% extends "base.html" %}
{% load static %}

{% block title %}Crear Pedido{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h2>Pedido #{{pedido.id}}</h2>
        <form class="row g-3" method="POST">{% csrf_token %}
            <div class="col-md-6">
                <label>Nombre Cliente</label>
                <p>{{pedido.wishlist.idcliente.nombre}} {{pedido.wishlist.idcliente.apellido}}</p>
            </div>
            <div class="col-md-6">
                <label>Rut Cliente</label>
                <p>{{pedido.wishlist.idcliente.rut}}</p>
            </div>
            <div class="col-md-6">
                <label>Email Cliente</label>
                <p>{{pedido.wishlist.idcliente.email}}</p>
            </div>
            <div class="col-md-6">
                <label>Dirección de facturación</label>
                <p>{{pedido.wishlist.idcliente.direccion}}</p>
            </div>
            <div class="col-md-6">
                <label>Dirección de despacho</label>
                <p>{{pedido.direccion_despacho}}</p>
            </div>
            <div class="col-md-6">
                <label>Fecha de compra</label>
                <p>{{pedido.fecha}}</p>
            </div>
            <div class="col-md-6">
                <label>Fecha de despacho</label>
                <p>{{pedido.fecha_despacho}}</p>
            </div>
            <div class="col-md-6">
            <label>Estado del despacho</label>
                {{ form.estadopedido }}
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                {% comment %} <button href="{% url 'pedidos' %}" class="btn btn-danger">Cancelar</button> {% endcomment %}
            </div>
        </form>
    </div>
</div>
{% endblock %}