{% extends "base.html" %}
{% load static %}

{% block title %}TeLoVendo - Inicio{% endblock %}

{% block body %}

{% if user.is_authenticated %}

<!-- Todos los usuarios logeados-->

<img class="img-titulo" src="{% static 'assets/imagenes/tlv.png' %}" alt="telovendoasdasa">
<h1 id="bienvenida">¡Que gusto verte! {{ cliente.nombre }} </h1>

{% if user.is_active and user.is_staff %}

<!--Usuarios logeados (staff)-->

<div class="card-group-container">
  <div class="card-group d-flex gap-4">
    <div class="card card-custom">
      <a class="dropdown-item" href="{% url 'pedidos' %}">
        <img src="{% static 'assets/imagenes/staff/digital-marketing.jpg' %}" class="card-img-top img-fluid" alt="Pedidos">
      </a>
    </div>
      <div class="card card-custom">
        <a class="dropdown-item" href="{% url 'gestionprod' %}">
          <img src="{% static 'assets/imagenes/staff/desk.jpg' %}" class="card-img-top img-fluid" alt="Productos">
        </a>
      </div>
    
    <div class="card card-custom">
      <a class="dropdown-item" href="{% url 'panel_usuario' %}"><img
          src="{% static 'assets/imagenes/staff/crowd.jpg' %}" class="card-img-top img-fluid" alt="user">
      </a>

    </div>
  </div>
</div>


  {% else %}

  <!--Usuarios logeados (usuario comun)-->

  <div>
    <h2 class="titulo">Últimos productos agregados</h2>
  </div>

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active my-auto">
        <img src="{% static 'assets/imagenes/user_img/apple.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Descubre la tecnología más innovadora. Encuentra smartphones, laptops y más en nuestra tienda en línea. Explora nuestro catálogo ahora.</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/game-console.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Productos tecnológicos de calidad. Trabajamos con marcas reconocidas y ofrecemos asesoramiento experto. Descubre nuestras ofertas hoy.</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/playstation.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Lo último en tecnología a precios asequibles. Dispositivos inteligentes, accesorios y envío garantizado. Haz clic y aprovecha nuestras ofertas.</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/mobile-phone.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">La tecnología que necesitas, al alcance de tu mano. Explora nuestra página y encuentra los mejores dispositivos y accesorios tecnológicos. ¡Mejora tu vida con la última innovación!</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/laptop.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Compra tecnología con confianza. Nuestros productos de calidad están respaldados por expertos en tecnología. Descubre nuestra selección y lleva tu experiencia al siguiente nivel.</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {% endif %}

  {% else %}

  <!--Sin conexión-->

  <img class="img-titulo" src="{% static 'assets/imagenes/tlv.png' %}" alt="telovendo">

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active my-auto">
        <img src="{% static 'assets/imagenes/user_img/apple.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Descubre la tecnología más innovadora. Encuentra smartphones, laptops y más en nuestra tienda en línea. Explora nuestro catálogo ahora.</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/game-console.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Productos tecnológicos de calidad. Trabajamos con marcas reconocidas y ofrecemos asesoramiento experto. Descubre nuestras ofertas hoy.</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/playstation.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Lo último en tecnología a precios asequibles. Dispositivos inteligentes, accesorios y envío garantizado. Haz clic y aprovecha nuestras ofertas.</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/mobile-phone.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">La tecnología que necesitas, al alcance de tu mano. Explora nuestra página y encuentra los mejores dispositivos y accesorios tecnológicos. ¡Mejora tu vida con la última innovación!</p>
        </div>
      </div>
      <div class="carousel-item my-auto">
        <img src="{% static 'assets/imagenes/user_img/laptop.jpg' %}" class="carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="texto-carousel">Compra tecnología con confianza. Nuestros productos de calidad están respaldados por expertos en tecnología. Descubre nuestra selección y lleva tu experiencia al siguiente nivel.</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  {% endif %}
  {% endblock %}