{% extends "base.html" %}
{% load static %}

{% block title %}Agregar Producto{% endblock %}

{% block body %}
<div class="row align-items-center">
    <div class="col-10 d-flex justify-content-left py-3">
        <h3>Agregar Producto</h3>
    </div>
    <div class="col-2">
        <a href="{% url 'gestionprod' %}" class="btn botoncito btn-outline-personal" role="button">Volver</a>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <form class="card col-lg-5 p-4" method="POST">{% csrf_token %}
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-danger">Cancelar</button>
    </form>
</div>
{% endblock %}