{% extends "base.html" %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block body %}


<div class="row align-items-center">
  <div class="d-flex justify-content-center pt-3">
    <h3 class="titulo">Lista de Pedidos</h3>
  </div>
{% if user.is_staff%}
  <div class="col-12 d-flex justify-content-end pb-4">
    <a href="{% url 'crear_cliente' %}" class="btn botoncito btn-outline-personal" role="button">Crear Pedido</a>
  </div>
{% endif %}
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre Cliente</th>
        <th>Rut Cliente</th>
        <th>Estado</th>
        <th>Ver Detalle</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in pedidos %}
      <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.wishlist.idcliente.nombre }} {{ pedido.wishlist.idcliente.apellido }}</td>
        <td>{{ pedido.wishlist.idcliente.rut }}</td>
        <td>{{ pedido.estadopedido }}</td>
        <td><a href="{% url 'pedido_detalle' pedido.id %}" class="btn btn-primary btn-outline-personal">Detalles</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">
          <div class="alert alert-danger" role="alert">
            No hay pedidos disponibles para esta vista.
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}