{% extends "base.html" %}
{% load static %}

{% block title %}TeLoVendo - Inicio{% endblock %}

{% block body %}
  
<div class="card">
  <div class="card-body">
    <h3 class="titulo">Conoce los productos que tenemos disponibles para ti</h3>
    <div class="row">
      {% for producto in productos %}
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body card-producto">
            <!-- Imagen del Producto -->
            <a href="{% url 'producto' producto.id %}">
              <img src="media/images/producto_default.png" alt="{{ producto.nombre }}" width="266
              " height="auto">
            </a>
            <h5 class="titulo-producto">{{ producto.nombre }}</h5>
            <div card>
            <p class="card-text texto-producto">Precio: ${{ producto.valor_unit }}</p>
          </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col">
        <div class="alert alert-danger" role="alert">
          No hay productos disponibles para esta vista.
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


  {% endblock body %}