{% extends "base.html" %}
{% load static %}

{% block title %}TeLoVendo - Inicio{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col col-sm-4">
            <div class="card border-0">
                <div class="card-body m-3 border-0">
                    <img src="{% get_media_prefix %}/images/producto_default.png" alt="{{ producto.nombre }}" width="266" height="auto">
                </div>
            </div>
        </div>

        <div class="col col-sm-8">
            <div class="card border-0">
                <div class="card-body m-3 bg-secondary-subtle">
                    <ul class="list-group m-3 ">
                        <li class="list-group-item m-1 rounded-2 border-0 bg-primary-subtle">{{ producto.nombre|title }}</li>
                        <li class="list-group-item m-1 rounded-2 border-0 bg-primary-subtle">$ {{ producto.valor_unit }}</li>
                    </ul>
                    
                    <ul class="list-group m-3 bg-secondary">
                        <li class="list-group-item m-3 bg-secondary text-light">
                            Descripción:
                        </li>
                        <li class="list-group-item m-1 bg-secondary text-light border-0">
                            {{ producto.descripcion }}
                        </li>
                    </ul>
                    
                    <div class="text-center mt-3">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button class="btn btn-secondary" id="minus-btn" type="button">-</button>
                          </span>
                          <input type="text" id="quantity-input" class="form-control input-sm" value="0" readonly>
                          <span class="input-group-btn">
                            <button class="btn btn-secondary" id="plus-btn" type="button">+</button>
                          </span>
                        </div>
                        <button class="btn btn-success">Agregar a Wishlist</button>
                      </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var minusBtn = document.getElementById('minus-btn');
        var plusBtn = document.getElementById('plus-btn');
        var quantityInput = document.getElementById('quantity-input');
        var wishlistBtn = document.getElementById('wishlist-btn');

        var quantity = 0;

        minusBtn.addEventListener('click', function() {
            if (quantity > 0) {
                quantity--;
                quantityInput.value = quantity;
                wishlistBtn.disabled = (quantity === 0);
            }
        });

        plusBtn.addEventListener('click', function() {
            if (quantity < 10) {
                quantity++;
                quantityInput.value = quantity;
                wishlistBtn.disabled = (quantity === 0);
            }
        });
    });
</script>

{% endblock  %}
