{% extends 'base.html' %}
{% load static %}

{% block title %}Registro{% endblock %}
{% block body %}
<div class="row justify-content-center">
    <div class="form-container blog">
        <div class="form-group">
            {% if formulario.errors %}
            <div class="alert alert-danger" role="alert">
                {{ formulario.errors }}
            </div>
            {% endif %} 
            <h2>Regístrate aquí</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="m-2">
                {{ formulario.username.label }}
                {{ formulario.username }}
                </div>
                <div class="m-2">
                {{ formulario.email.label }}
                {{ formulario.email }}
                 </div>
                <div class="m-2">
                {{ formulario.email2.label }}
                {{ formulario.email2 }}
                </div>
                <br>
                <input type="submit" value="Registrarse" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock body %}